# Виртуальное окружение
venv/
.env/
*.env/
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/S
.idea/

# Логи
*.log

# Базы данных
*.sqlite3
*.db

# Migrations 
migrations/__pycache__/

# OS
.DS_Store
Thumbs.db

.vscode/

.pytest_cache/